*{
    margin: 0;
    padding: 0;
}

:root{
    --Emerald-green:#10B981;
    --Charcoal:#111827;
    --Off-White:#F9FAFB;
    --Slate:#374151;
    --Mint:#6EE7B7;
}
body{
    background-color: var(--Off-White);
}

header{
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.712),
        rgba(0, 0, 0, 0.486)
    ),
    url(bg-house.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px; */
    
    position: relative;
     padding-top: 90px;

}
header::before{
    content:"";
    position:absolute;
    inset:0;

    background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.4)),
    url(bg-phone.png);

    background-size:cover;
    background-position:center;

    opacity:0;

    animation:fadeBg 15s infinite ease-in-out;

    z-index:0;
}
header>*{
    position:relative;
    z-index:2;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(10px);
    position: fixed;
     top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px #374151 solid;
    padding: 1rem;
    animation: fadeIn 1.5s ease-in-out;
    z-index: 9999;
    background: #111827;
}
.brand-ctn{
    display: inline-flex;
    color: #10B981;
    gap:5px;
    font-family: "Noto Sans Bhaiksuki";
}

.brand-ctn span{
    color: var(--Off-White);
}
.logo-icon{
    font-size: 35px;
}
nav ul{
    list-style: none;
    display: flex;
    font-size: 1.1rem;
    gap: 2rem;
    margin-left: 5rem;
}
nav ul li a{
    text-decoration: none;
    color: var(--Off-White);
    font-family: "Source Sans 3";
    /* letter-spacing: 1.1; */
    position: relative;
}
.nav-btn a{
    text-decoration: none;
    color: var(--Off-White);
    font-family: "Source Sans 3";
    letter-spacing: 1.1;
    font-size:1rem;
}
nav ul li a:after{
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1px;
    background: #6EE7B7;
    transition: width .3s ease;
    border-radius: 2px;
}
nav ul li a:hover::after{
    width: 100%;
}
.nav-menu{
    display: flex;
}

.nav-btn{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--Emerald-green);
    color: var(--Off-White);
    border: none;
    border-radius: 0.4rem;

    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    font-family: "Source Sans 3";
    gap: 5px;
    margin-left: 2rem;

    animation: slideIn 2s ease;
}
.nav-btn:hover{
    transform: scale( 1.05);
    transition: ease 1s;
    background-color: #016141;
}
.arrow-icon{
    font-size: 1rem;
}
.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    
    gap: 6px;
    transition: all .3s ease;

}
.hamburger span{
    background-color: var(--Emerald-green);
    width: 25px;
    height: 3px;
    border-radius:2px ;

}
.hamburger.active span:nth-child(1){
    transform: rotate(45deg) translate(10px , 10px);
}

.hamburger.active span:nth-child(2){
    opacity:0;
}
.hamburger.active span:nth-child(3){
    transform: rotate(-45deg) translate(7px , -7px);
}



/* HERO SECTION */


.hero-section{
    /* margin-left: 20rem; */
    margin-top: 4rem;
    backdrop-filter: blur(5px);
}
.highlight-text{
    margin-left: 30rem;
    backdrop-filter: blur (5px);
    background: #09946148;
    border: 1px solid var(--Mint);
    border-radius: 0.5rem;
    color: var(--Off-White);
    font-size: 0.7rem;
    font-family: "Source Sans 3";
    width: max-content;
    padding: .3rem;
    font-weight: 100;
    animation: slideUp 1.5s ease-out;
    cursor: pointer;

}

.hdr1{
 color: var(--Off-White);
 font-family: "Noto Sans Bhaiksuki";
 font-size: 3rem;
 animation: slideIn 1.5s  ease-in;
 margin-left: 20rem;
 margin-top: 2rem;
}
.subtle-ctn{
    padding: 1rem;
}
.subtle-text{
    color: var(--Off-White);
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0.4px;
    animation: fadeIn 2s ease-in-out;
    text-align: center;
    font-family: "Outfit";
   max-width:760px;
   width:90%;
   margin-left: 15rem;
    
}
.green-txt{
    color: var(--Emerald-green);
    font-family: "Source sans 3";
    cursor: pointer;
    font-weight: 400;
}
.ctn-btn{
    display: flex;
    gap: 2rem;
    margin-left: 25rem;
}
.ctn1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Emerald-green);
    color: var(--Off-White);
    border: none;
    border-radius: 0.4rem;

    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    font-family: "Source Sans 3";
    gap: 10px;


    animation: slideIn 2s ease;
}
.ctn1:hover{
    background-color: #016141;
    box-shadow: inset rgba(0, 0, 0, 0)  ;
    transform: scale(1.1);
    transition: .5s ease;
}
.ctn2{
     display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
    background: #1118278e;
    border: var(--Slate) 2px solid;
    color: var(--Off-White);
    border: none;
    border-radius: 0.4rem;

    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    font-family: "Source Sans 3";
    gap: 10px;


    animation: slideIn 2s ease;
}
.ctn2:hover{
    box-shadow: inset rgba(0, 0, 0, 0)  ;
    transform: scale(1.1);
    transition: .5s ease;
    background: var(--Charcoal);
    box-shadow: inset rgba(0, 0, 0, 0) 2px 4px 15px;
}


/* COMPATIBILTY CTN */

.compatibility{
    background: #111827;
    box-shadow: 20px 20px 20px 0 var(--Off-White);
    border-radius: 2px;
    padding: 1rem;
}

.security-icon{
    color: var(--Emerald-green);
    font-size: 2rem;
    background: rgba(16,185,129,.08);
    padding: 18px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(16,185,129,.2);
    margin-left: 35rem;
}
.compatibility-tag{
    margin-left: 32rem;
    font-size: 1rem;
    font-family: "Outfit";
    font-weight: 300;
  color: var(--Emerald-green);
}
.compatibility h2{
    color: var(--Off-White);
 font-family: "Noto Sans Bhaiksuki";
 font-size: 2.56rem;
 animation: slideIn 1.5s  ease-in;
 margin-left: 27rem;
 margin-top: 1rem;
}
.compatibility-text{
     color:#eeeeeec4;
    font-size: 1.15rem;
    font-weight: 200;
    line-height: 1.9;
    letter-spacing: 0.4px;
    animation: fadeIn 2s ease-in-out;
    text-align: center;
    font-family: "Outfit";
   max-width:760px;
   width:90%;
   margin-left: 15rem;
}
.brand-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.brand{
    display: grid;
    justify-content: center;
    border: #374151 2px solid;
    padding: 1rem;
    color: var(--Off-White);
    background: #03070e;
    border-radius: 0.4rem;
    width: 120px;
    height: 120px;
    border-bottom: #10B981 3px solid;
    font-family: "Noto Sans Bhaiksuki";
}
.google-icon, .apple-icon, .alexa-icon,.matter-icon, .philip-icon , .smart-icon{
    font-size: 4rem;
    color: #10B981;
}


/* FEATURE SECTION */



.features{
   background: url(features-bg.png);
    box-shadow: 20px 20px 20px 0 var(--Off-White);
    border-radius: 2px;
    padding: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid #eeeeeec4;    
}
.first-hdr{
     color: var(--Off-White);
 font-family: "Noto Sans Bhaiksuki";
 font-size: 2.4rem;
 animation: slideIn 1.5s  ease-in;
 text-align: center;
 margin-top: 1rem;
}
.sec-hdr{
 color: var(--Emerald-green);
 font-family: "Noto Sans Bhaiksuki";
 font-size: 2.66rem;
 animation: slideRight 1.5s  ease-in;
 text-align: center;
 margin-top: 1rem;
}
.feature-txt, .stats-desc{
     color: #eeeeeec4;
    font-size: 1.15rem;
    font-weight: 200;
    line-height: 1.9;
    letter-spacing: 0.4px;
    animation: fadeIn 2s ease-in-out;
    text-align: center;
    font-family: "Outfit";
   max-width:760px;
   width:90%;
   margin-left: 15rem;
}
.feature-cards{
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    margin: 2rem;
    gap : 10px;
}

.card{
    background-position: center;
    background-size: cover;
    padding: 1rem; 
     border: 2.5px solid var(--Slate);
    border-radius: 0.7rem;
    color: var(--Off-White);
    width: 300px;
    height: 250px;
}
.card:hover{
    transform: translateY(-5px);
    background: #111827;
    transition: .3s ease-in-out;
}
.card-content3{
    background: linear-gradient(rgba(0, 0, 1, 0.664), rgba(0, 0, 0, 0.397)) , url(https://media.istockphoto.com/id/1678741974/photo/mother-and-son-at-home-using-a-smart-thermostat.jpg?b=1&s=612x612&w=0&k=20&c=F-74yQ2TMoO8t30bte263fWEkOr9nvjWxRrM4S5ifmE=);
    background-repeat: no-repeat;
    background-position: top;
}
.card-content4{
     background: linear-gradient(rgba(0, 0, 1, 0.664), rgba(0, 0, 0, 0.397)) , url(https://plus.unsplash.com/premium_photo-1675016457613-2291390d1bf6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y2N0diUyMG1vbml0b3JpbmclMjBzbWFydCUyMGhvbWVzfGVufDB8fDB8fHww);
     background-position:right;
}
.card-content1{
    background: linear-gradient(rgba(0, 0, 1, 0.664), rgba(0, 0, 0, 0.397)) , url(https://plus.unsplash.com/premium_photo-1728776080538-653e418842c9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fHNtYXJ0JTIwbGlnaHRpbmd8ZW58MHx8MHx8fDA%3D);
}
.card-content2{
    background: linear-gradient(rgba(0, 0, 1, 0.664), rgba(0, 0, 0, 0.397)) , url(https://plus.unsplash.com/premium_photo-1729436833449-225649403fc0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c21hcnQlMjBsb2NrfGVufDB8fDB8fHww);
}
.card-content5{
     background: linear-gradient(rgba(0, 0, 1, 0.664), rgba(0, 0, 0, 0.397)) , url(https://plus.unsplash.com/premium_photo-1729510247926-8e59b295375e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzM4fHxzbWFydCUyMGhvbWUlMjBlbmVyZ3l8ZW58MHx8MHx8fDA%3D)
}

.round-border{
    border: 2px solid var(--Emerald-green);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow:
    0 0 3px  var(--Emerald-green),
    0 0 3px var(--Emerald-green),
    0 0 3px var(--Emerald-green),
    0 0 3px var(--Emerald-green);
}
.light-icon{
    font-size: 2rem;
    color: var(--Emerald-green);
    margin-left: 0.75rem;
    margin-top: 0.6rem;

}
.user-shield-icon{
    font-size: 1.95rem;
    color: var(--Emerald-green);
    margin-left: 0.5rem;
    margin-top: 0.6rem;
}
.temp-icon{
    font-size: 2rem;
    color: var(--Emerald-green);
    margin-left: 0.9rem;
    margin-top: 0.6rem;
}
.video-icon{
    font-size: 2rem;
    color: var(--Emerald-green);
    margin-left: 0.5rem;
    margin-top: 0.6rem;
}
.bolt-icon{ 
    font-size: 2rem;
    color: var(--Emerald-green);
    margin-left: 0.6rem;
    margin-top: 0.6rem;
}

.text-ctn h2{
    font-family: "Source Sans 3";
    color: var(--Emerald-green);
    font-weight: 400;
    font-size: 2rem;
}
.text-ctn h3{
     font-family: "Source Sans 3";
    color: #eeeeeec4;
    font-weight: 300;
    font-size: 1.2rem;
}
.text-ctn p{
    font-weight: 350;
    font-size: 1rem;
    color: var(--Off-White);
    font-family: "Source Sans 3";
    margin-top: 1rem;
    max-width: 330px;
}


/* Statistics */

.statistics{
    background: linear-gradient(rgba(0, 0, 1, 0.664), rgba(0, 0, 0, 0.397)) , url(https://images.unsplash.com/photo-1591452706295-06d0d6abc3aa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjAzfHxzbWFydCUyMGhvbWV8ZW58MHx8MHx8fDA%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.stats-tag{
    text-align: center;
    font-size: 1rem;
    font-family: "Outfit";
    font-weight: 300;
  color: var(--Emerald-green);
   padding-top: 4rem;
   cursor: pointer;
}
.underline{
    width: 30px;
    height: 2px;
    background-color: var(--Emerald-green);
    margin-left: 41rem;
    margin-top: 1rem;
      box-shadow:
    0 0 5px  var(--Emerald-green),
    0 0 15px var(--Emerald-green),
    0 0 30px var(--Emerald-green),
    0 0 45px var(--Emerald-green);
    cursor: pointer;
}

.stats-ctn h2{
     color: var(--Off-White);
 font-family: "Noto Sans Bhaiksuki";
 font-size: 2.4rem;
 animation: slideIn 1.5s  ease-in;
 text-align: center;
 margin-top: 1rem;
}
.stats-ctn span{
    color: var(--Emerald-green);
}

.stats-desc{
     color: #eeeeeec4;
    font-size: 1.15rem;
    font-weight: 200;
    line-height: 1.9;
    letter-spacing: 0.4px;
    animation: fadeIn 2s ease-in-out;
    text-align: center;
    font-family: "Outfit";
   max-width:760px;
   width:90%;
   text-align: center;
}

.stats{
  display: grid;
  grid-template-columns: repeat(2,0.2fr);
  padding: 2rem;
  margin-left: 17rem;
  gap: 5px;
}


.stat{
     backdrop-filter: blur(5px);
     background :#000e0962;
    border:   #374151 0.5px solid;
    padding: 1rem;
    width: 300px;
    border-radius: 0.4rem;
    height: 150px;
}
.stat:hover{
    transition: .2s ease;
    background: #03070e;
    transform: translateY(-5px);
}
.stat-icon{ 
    font-size: 2rem;
    color: var(--Emerald-green);
    margin-top: 0.6rem;

}
.stat h1{
    font-family: "Noto Sans Bhaiksuki";
    font-size: 2.5rem;
    color: var(--Off-White);
    margin-top: 0.6rem;
}
.stat h3{
    font-family: "Source Sans 3";
    color: #10B981;
    font-weight: 300;
}
.stat p{
    font-weight: 350;
    font-size: 1rem;
    color: var(--Off-White);
    font-family: "Source Sans 3";
    margin-top: 1rem;
    max-width: 330px;
    line-height: 1.6;
}


/* PRODUCTS */

.products{
    background: var(--Charcoal);
    padding: 3rem 1rem;
}

.products-tag{
    text-align: center;
    font-size: 1rem;
    font-family: "Outfit";
    font-weight: 300;
    color: var(--Emerald-green);
    padding-top: 1rem;
    cursor: pointer;
}

.products-ctn h2{
    color: var(--Off-White);
    font-family: "Noto Sans Bhaiksuki";
    font-size: 2.4rem;
    text-align: center;
    margin-top: 1rem;
}

.products-ctn span{
    color: var(--Emerald-green);
}

.products-desc{
    color: #eeeeeec4;
    font-size: 1.15rem;
    font-weight: 200;
    line-height: 1.9;
    letter-spacing: 0.4px;
    text-align: center;
    font-family: "Outfit";
    max-width: 760px;
    width: 90%;
    margin: 1rem auto 0;
}

.product-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2.5rem;
}

.product{
    background: #03070e;
    border: 2px solid var(--Slate);
    border-radius: 0.7rem;
    padding: 1.5rem;
    width: 280px;
    transition: .3s ease-in-out;
}

.product:hover{
    transform: translateY(-6px);
    border-color: var(--Emerald-green);
}

.product-img{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--Emerald-green);
    border-radius: 50%;
    margin-bottom: 1rem;
    box-shadow:
        0 0 5px var(--Emerald-green),
        0 0 15px var(--Emerald-green);
}
.product-img img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}
.product-icon{
    font-size: 1.6rem;
    color: var(--Emerald-green);
}

.product h3{
    font-family: "Source Sans 3";
    color: var(--Off-White);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.product p{
    font-family: "Outfit";
    color: #eeeeeec4;
    font-size: .95rem;
    font-weight: 300;
    line-height: 1.6;
    min-height: 55px;
}

.product-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2rem;
}

.price{
    font-family: "Noto Sans Bhaiksuki";
    color: var(--Emerald-green);
    font-size: 1.3rem;
}

.product-btn{
    display: flex;
    align-items: center;
    gap: 6px;
    background: transparent;
    border: 1px solid var(--Emerald-green);
    color: var(--Off-White);
    font-family: "Source Sans 3";
    font-size: .85rem;
    padding: .5rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: .3s ease;
}

.product-btn:hover{
    background: var(--Emerald-green);
    color: var(--Charcoal);
}




#modal , #modal2, #modal3, #modal4, #modal5, #modal6{
   position: fixed;
   top:1rem;
   left: 0;
   width: 100%;
   height: 100%;
   /* display: flex; */
   /* overflow-y: auto;
     /* Firefox 
    scrollbar-width: 20px;
    scrollbar-color:   var(--Emerald-green) var(--Off-White); */
    z-index: 999999;
    border-radius: 4px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.486);
    backdrop-filter: blur(5px);


}
#modal:not(.hidden) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden{
    display: none;
}


/* Chrome/Edge/Safari */
.modal-content::-webkit-scrollbar {
    width: 15px;
}
.modal-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.modal-content::-webkit-scrollbar-thumb {
    background: var(--Emerald-green);
    border-radius: 10px;
}
.modal-content::-webkit-scrollbar-thumb:hover {
    background: #016141;
}
.modal-content{
    background: white;
    padding: 20px;
    border-radius: 8px;
    height: 75vh;
    margin-left: 4rem;
    width: 100vh;
    background: #03070e;
    border: 2px solid var(--Slate);
    overflow-y: auto;
     /* Firefox */
    scrollbar-width: 20px;
    scrollbar-color:   var(--Emerald-green) var(--Off-White);
    animation: fadeIn .2s ease-out , slideUp .2s ease-out;
    cursor: pointer;
    display: grid;
   
}

.modal-content img{
    height: 150px;
    width: 150px;
    border-radius: 20px ;
}
.modal-content h1{
    color: var(--Emerald-green);
    font-family: "Source Sans 3";
    font-weight: 300;
    text-align: center;
    font-size: 2rem;
}
.modal-content h2{
     color: var(--Off-White);
    font-family: "Source Sans 3";
    font-weight: 300;
    text-align: left;
    font-size: 1.6rem;
}
.tagline{
    font-family: "Noto Sans Bhaiksuki";
    color: var(--Off-White);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 100;
    margin-top:0.5rem;
}
.description{
     font-family: "outfit";
    color: #eee;
    font-size: 0.9rem;
    font-weight: 100;
    margin-top: 0.5rem;
}
ul{
    font-size: 1rem;
    color: #F9FAFB;
    font-family: "Outfit";
    font-weight: 200;
    margin-top: 0.5rem;
}
.price2{
     font-family: "Noto Sans Bhaiksuki";
    color: var(--Emerald-green);
    font-size: 1.3rem;
    margin-top: 0.4rem;
    text-align: center;
}
#closeBtn, #closeBtn2, #closeBtn3, #closeBtn4, #closeBtn5, #closeBtn6{
    /* padding: 20px; */
    font-size: 0.75rem;
    color: #F9FAFB;
    background-color: #10B981;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    margin-left: 0; /* remove the 35rem */
    border: none;
    width:30px;
    height:30px;
    cursor: pointer;
}

#closeBtn:hover, #closeBtn2:hover, #closeBtn3:hover, #closeBtn4:hover, #closeBtn5:hover, #closeBtn6:hover{
    background-color: #016141;
    transition: .3s ease-in-out;
    transform: translateY(-5px);
}


.modal-content {
    position: relative; /* add this */
}


/* large screeen */

@media screen and (max-width:1024px){

.nav-bar{
    padding:1rem 2rem;
}

nav ul{
    gap:1.5rem;
    margin-left:2rem;
}

.hero-section{
    margin-top:3rem;
}

.highlight-text{
    margin-left:20rem;
}

.hdr1{
    margin-left:10rem;
    font-size:2.7rem;
}

.subtle-text{
    margin-left:8rem;
    max-width:650px;
    font-size:1.05rem;
}

.ctn-btn{
    margin-left:15rem;
}
.security-icon{
    margin-left:28rem;
}

.compatibility-tag{
    margin-left:25rem;
}

.compatibility h2{
    margin-left:18rem;
    font-size:2.2rem;
}

.compatibility-text{
    margin-left:8rem;
    max-width:650px;
}

.brand{
    width:110px;
    height:110px;
}

.google-icon,
.apple-icon,
.alexa-icon,
.matter-icon,
.philip-icon,
.smart-icon{
    font-size:3.5rem;
}


.features{
    padding:2rem;
}

.first-hdr{
    font-size:2.1rem;
}

.sec-hdr{
    font-size:2.3rem;
}

.feature-txt{
    margin:0 auto;
    max-width:700px;
    font-size:1.05rem;
}

.feature-cards{
    justify-content:center;
    gap:1.5rem;
}

.card-content1,
.card-content2, .card-content3, .card-content4, .card-content5{
    width:280px;
    height:220px;
}


.stats-ctn h2{
    font-size:2.2rem;
}

.stats-desc{
    margin:0 auto;
    max-width:700px;
    font-size:1.05rem;
}

.underline{
    margin:1rem auto;
}

.stats{
    grid-template-columns:repeat(2,1fr);
    justify-content:center;
    margin:2rem auto;
    gap:1.5rem;
    max-width:700px;
}

.stat{
    width:280px;
}

  .modal-content {
        width: 90vw;
        margin-left: 0;
        height: 80vh;
    }

    #closeBtn, #closeBtn2, #closeBtn3, #closeBtn4, #closeBtn5, #closeBtn6 {
        margin-left: 0;
        top: 1.5rem;
        right: 1.5rem;
        left: auto;
    }

    .product {
        width: 240px;
    }

}


/*  TABLETT  */

@media screen and (max-width:768px){

    /* ---------- NAVBAR ---------- */
  
    .hamburger{
        display: flex;
    }
    nav ul{
        display:grid;
    }
    .nav-menu {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 50%;
    flex-direction: column;
    backdrop-filter: blur(15px);
    background-color: #111827;
    gap: 0;
     max-height: 0; 
     overflow: hidden; 
    transition: max-height 0.3s ease;
   z-index: 9999;
   border-radius: 0.4rem;
   

  }

        
    .nav-btn{
        padding: 0.3rem;
        font-size: 0.65rem;
        margin-left: 1.5rem;
        width: 200px;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .arrow-icon{
        font-size: 0.8rem;
    }
    .nav-menu.active {
    max-height: 1000px;
  }

   
    /* ---------- HERO ---------- */

    .hero-section{
        margin-top: 3rem;
        padding: 0 2rem;
        text-align: center;
    }

    .highlight-text{
        margin: 0 auto;
        font-size: .8rem;
    }

    .hdr1{
        margin: 2rem auto 1rem;
        font-size: 2.5rem;
        max-width: 650px;
    }

    .subtle-text{
        margin: 0 auto;
        max-width: 650px;
        font-size: 1rem;
    }

    .ctn-btn{
        justify-content: center;
        margin: 2rem auto 0;
        flex-wrap: wrap;
    }

    /* ---------- COMPATIBILITY ---------- */

    .security-icon{
        display: block;
        margin-left: 20rem;
    }

    .compatibility-tag{
        margin: 1rem auto;
        text-align: center;
    }

    .compatibility h2{
        margin: 1rem auto;
        text-align: center;
        font-size: 2.2rem;
    }

    .compatibility-text{
        margin: 0 auto;
        max-width: 650px;
    }

    .brand-logos{
        gap: 1rem;
    }

    .brand{
        width: 110px;
        height: 110px;
    }

    .google-icon,
    .apple-icon,
    .alexa-icon,
    .matter-icon,
    .philip-icon,
    .smart-icon{
        font-size: 3rem;
    }

.first-hdr{
    font-size:1.9rem;
}

.sec-hdr{
    font-size:2rem;
}

.feature-txt{
    margin:0 auto;
    width:95%;
    font-size:1rem;
}

.feature-cards{
    justify-content:center;
}

.card-content1,
.card-content2{
    width:320px;
    height:220px;
}

.text-ctn h2{
    font-size:1.7rem;
}

.text-ctn h3{
    font-size:1rem;
}

.text-ctn p{
    font-size:.95rem;
}



.stats-tag{
    font-size:.9rem;
}

.underline{
    margin:1rem auto;
}

.stats-ctn h2{
    font-size:2rem;
}

.stats-desc{
    width:95%;
    margin:0 auto;
    font-size:1rem;
}

.stats{
    grid-template-columns:1fr 1fr;
    margin:2rem auto;
    justify-content:center;
    gap:1rem;
    max-width:650px;
}

.stat{
    width:280px;
    height:auto;
    min-height:170px;
}

.stat h1{
    font-size:2.2rem;
}

.product-cards {
        gap: 1rem;
    }

    .product {
        width: 100%;
        max-width: 320px;
    }

    .modal-content {
        width: 92vw;
        height: 85vh;
        padding: 1rem;
    }

    #modal, #modal2, #modal3, #modal4, #modal5, #modal6 {
        padding: 10px;
        top: 0;
    }

    .modal-content h1 {
        font-size: 1.6rem;
    }

    .tagline {
        font-size: 1.2rem;
    }

}


/* MOBILE PHONES RESPONSIVENESS */


@media screen and (max-width:428px){

    .hamburger{
        display: flex;
    }
    nav ul{
        display:grid;
    }
    .nav-menu {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 50%;
    flex-direction: column;
    backdrop-filter: blur(15px);
    background-color: #111827;
    gap: 0;
     max-height: 0; 
     overflow: hidden; 
    transition: max-height 0.3s ease;
   z-index: 9999;
   border-radius: 0.4rem;
   

  }

        
    .nav-btn{
        padding: 0.3rem;
        font-size: 0.65rem;
        margin-left: 1.5rem;
        width: 200px;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .arrow-icon{
        font-size: 0.8rem;
    }


  /* When menu has 'active' class, show it */
  .nav-menu.active {
    max-height: 1000px;
  }

  .hero-section{
    margin: 1rem;
    /* padding-top: 2rem; */
  }

  .highlight-text{
    font-size: 0.5rem;
    margin-top: 4rem;
    margin-left: 4rem;
  }
  .header-text{
    margin-top: 1rem ;
  }
  .hdr1,.compatibility h2{
    font-size: 1.2rem;
    margin-left: 0;
    text-align: center;
  }
  .subtle-text,.compatibility-text{
    margin-left: 0;
    text-align: center;
    font-size: 1rem;
    max-width: fit-content;
  }
  .ctn-btn{
    flex-direction: column;
    margin-left: 0;
  }
  .security-icon{
 margin-left: 10rem;
}
.compatibility-tag{
    margin-left:0 ;
    text-align: center;
    font-size: 0.7rem;
}

.brand{
    height: 100px;
    width: 100px;
}
.google-icon, .apple-icon, .alexa-icon,.matter-icon, .philip-icon , .smart-icon{
    font-size: 3rem;
}


.first-hdr{
    font-size:1.6rem;
}

.sec-hdr{
    font-size:1.8rem;
}

.feature-txt{
    margin:0 auto;
    width:100%;
    font-size:.95rem;
}

.feature-cards{
    margin:1rem 0;
}

.card-content1,.card-content2, .card-content3, .card-content4, .card-content5{
    width:90%;
    height:auto;
    min-height:220px;
}


.round-border{
    width:45px;
    height:45px;
}

.light-icon,
.user-shield-icon, .temp-icon, .video-icon, .bolt-icon{
    font-size:1.7rem;
}

.text-ctn h2{
    font-size:1.5rem;
}

.text-ctn h3{
    font-size:.95rem;
}

.text-ctn p{
    font-size:.9rem;
}



.statistics{
    padding-bottom:2rem;
}

.stats-tag{
    font-size:.8rem;
}

.underline{
    margin:1rem auto;
}

.stats-ctn h2{
    font-size:1.7rem;
}

.stats-desc{
    width:95%;
    margin:0 auto;
    font-size:.95rem;
}

.stats{
    grid-template-columns:1fr;
    margin:2rem auto;
    padding:1rem;

}

.stat{
    width:90%;
    height:max-content;
}

.stat h1{
    font-size:2rem;
}

.stat p{
    font-size:.9rem;
}

 .modal-content {
        width: 90vw;
        height: 80vh;
        padding: 0.8rem;
        margin-left: 0%;
    }

    .modal-content img {
        width: 120px;
        height: 120px;
    }

    #closeBtn, #closeBtn2, #closeBtn3, #closeBtn4, #closeBtn5, #closeBtn6 {
        top: 0.8rem;
        right: 0.8rem;
        width: 26px;
        height: 26px;
        font-size:0.7rem;
    }

}




@media screen and (max-width:390px){

    /* ==========================
       NAVBAR
    ========================== */

    .nav-bar{
        justify-content: space-around;
        padding: .8rem 1rem;
    }

    .brand-ctn h1{
        font-size: 1.2rem;
    }

    .logo-icon{
        font-size: 28px;
    }

    .hamburger{
        display: flex;
    }

    .nav-menu{
        position: absolute;
        top: 70px;
        right: 10px;
        width: 75%;
        display: flex;
        flex-direction: column;
        background: #111827;
        backdrop-filter: blur(15px);
        border-radius: .5rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height .35s ease;
    }

    .nav-menu.active{
        max-height: 600px;
    }

    nav ul{
        flex-direction: column;
        gap: 1.3rem;
        margin: 1.5rem 0;
        text-align: center;
    }

    .nav-btn{
        width: 85%;
        margin: 0 auto 1.2rem;
        font-size: .85rem;
        padding: .7rem;
    }

    /* ==========================
       HERO
    ========================== */

    .hero-section{
        margin-top: 2rem;
        padding: 0 1rem;
        text-align: center;
    }

    .highlight-text{
        margin: 0 auto;
        font-size: .65rem;
        padding: .35rem .6rem;
    }

    .hdr1{
        margin: 1.5rem auto;
        font-size: 1.8rem;
        line-height: 1.3;
    }

    .subtle-text{
        margin: 0 auto;
        width: 100%;
        font-size: .95rem;
        line-height: 1.7;
    }

    .ctn-btn{
        margin: 2rem auto 0;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .ctn1,
    .ctn2{
        width: 100%;
        justify-content: center;
    }

    /* ==========================
       COMPATIBILITY
    ========================== */

    .compatibility{
        padding: 2rem 1rem;
    }

    .security-icon{
        display: block;
        margin-left: 9.5rem;
        font-size: 1.8rem;
    }

    .compatibility-tag{
        margin: 1rem auto;
        text-align: center;
        font-size: .8rem;
    }

    .compatibility h2{
        margin: 1rem auto;
        text-align: center;
        font-size: 1.7rem;
        line-height: 1.3;
    }

    .compatibility-text{
        margin: 0 auto;
        width: 100%;
        font-size: .95rem;
        line-height: 1.7;
    }

    .brand-logos{
        gap: .8rem;
    }

    .brand{
        width: 90px;
        height: 90px;
        padding: .8rem;
        font-size: .75rem;
    }

    .google-icon,
    .apple-icon,
    .alexa-icon,
    .matter-icon,
    .philip-icon,
    .smart-icon{
        font-size: 2.5rem;
    }


.first-hdr{
    font-size:1.45rem;
}

.sec-hdr{
    font-size:1.65rem;
}

.feature-txt{
    font-size:.9rem;
}

.card-content1,
.card-content2, 
.card-content3,
.card-content4{
    padding:1rem;
}

.text-ctn h2{
    font-size:1.35rem;
}

.text-ctn h3{
    font-size:.9rem;
}

.text-ctn p{
    font-size:.85rem;
}

.stats-ctn h2{
    font-size:1.55rem;
}

.stats-desc{
    font-size:.9rem;
}

.stat{
    padding:.9rem;
}

.stat-icon{
    font-size:1.8rem;
}

.stat h1{
    font-size:1.8rem;
}

.stat h3{
    font-size:1rem;
}

.stat p{
    font-size:.85rem;
}

    .modal-content h1 {
        font-size: 1.4rem;
    }

    .modal-content h2 {
        font-size: 1.3rem;
    }

    .tagline {
        font-size: 1.05rem;
    }

    .description, ul {
        font-size: 0.85rem;
    }

}

/* SMALL SCREENS SIZED PHONES */
@media screen and (max-width:360px){

.brand-ctn h1{
    font-size:1rem;
}

.logo-icon{
    font-size:24px;
}

.nav-menu{
    width:82%;
}

.highlight-text{
    font-size:.55rem;
}

.hdr1{
    font-size:1.6rem;
}

.subtle-text{
    font-size:.9rem;
}

.ctn1,
.ctn2{
    width:100%;
    font-size:.9rem;
}

.compatibility h2{
    font-size:1.5rem;
}

.compatibility-text{
    font-size:.9rem;
}

.brand{
    width:80px;
    height:80px;
}
.security-icon{
    margin-left: 9rem;
}

.google-icon,
.apple-icon,
.alexa-icon,
.matter-icon,
.philip-icon,
.smart-icon{
    font-size:2rem;
}



.first-hdr{
    font-size:1.3rem;
}

.sec-hdr{
    font-size:1.45rem;
}

.feature-txt{
    font-size:.85rem;
    line-height:1.7;
}

.card-content1,
.card-content2,
.card-content3,
.card-content4{
    min-height:200px;
}

.round-border{
    width:40px;
    height:40px;
}

.light-icon,
.user-shield-icon{
    font-size:1.5rem;
    margin-top:.45rem;
    margin-left:.55rem;
}
.video-icon{
    font-size:1.5rem;
    margin-top:.45rem;
    margin-left:0.4rem;
}
.temp-icon{
    font-size:1.5rem;
    margin-top:.45rem;
    margin-left:0.6rem;
}
.text-ctn h2{
    font-size:1.2rem;
}

.text-ctn h3{
    font-size:.85rem;
}

.text-ctn p{
    font-size:.8rem;
}



.stats-tag{
    font-size:.75rem;
}

.stats-ctn h2{
    font-size:1.4rem;
}

.stats-desc{
    font-size:.85rem;
    line-height:1.7;
}

.stat{
    min-height:160px;
}

.stat-icon{
    font-size:1.6rem;
}

.stat h1{
    font-size:1.6rem;
}

.stat h3{
    font-size:.95rem;
}

.stat p{
    font-size:.8rem;
}

.modal-content h1 {
        font-size: 1.4rem;
    }

    .modal-content h2 {
        font-size: 1.3rem;
    }

    .tagline {
        font-size: 1.05rem;
    }

    .description, ul {
        font-size: 0.85rem;
    }
     .modal-content {
        width: 96vw;
        height: 90vh;
        padding: 0.6rem;
    }

    .modal-content img {
        width: 100px;
        height: 100px;
    }

    .product {
        padding: 1rem;
    }

    .product-img {
        width: 80px;
        height: 80px;
    }

    .product-img img {
        width: 80px;
        height: 80px;
    }
}

/* Small phones */
   






/* SMALLER SCREEN SIZED PHONE 32OPX */


@media screen and (max-width:320px){

.nav-bar{
    padding:.8rem;
}

.brand-ctn h1{
    font-size:.9rem;
}

.logo-icon{
    font-size:22px;
}

.nav-menu{
    width:90%;
    right:5%;
}

.highlight-text{
    font-size:.5rem;
    padding:.25rem .5rem;
}

.hdr1{
    font-size:1.35rem;
    line-height:1.3;
}

.subtle-text{
    font-size:.82rem;
    line-height:1.6;
}

.ctn-btn{
    gap:.8rem;
}

.ctn1,
.ctn2{
    width:100%;
    padding:.7rem;
    font-size:.85rem;
}

.security-icon{
    font-size:1.5rem;
}

.compatibility-tag{
    font-size:.7rem;
}

.compatibility h2{
    font-size:1.3rem;
}

.compatibility-text{
    font-size:.82rem;
}

.brand{
    width:70px;
    height:70px;
    font-size:.65rem;
}

.google-icon,
.apple-icon,
.alexa-icon,
.matter-icon,
.philip-icon,
.smart-icon{
    font-size:1.8rem;
}

.features{
    padding:1rem .8rem;
}

.first-hdr{
    font-size:1.15rem;
}

.sec-hdr{
    font-size:1.3rem;
}

.feature-txt{
    font-size:.8rem;
}

.card-content1,
.card-content2,
.card-content3,
.card-content4{
    padding:.8rem;
    min-height:190px;
}

.round-border{
    width:35px;
    height:35px;
}

.light-icon,
.user-shield-icon,
.temp-icon,
.video-icon{
    font-size:1.3rem;
    margin-left:.45rem;
    margin-top:.4rem;
}

.text-ctn h2{
    font-size:1.1rem;
}

.text-ctn h3{
    font-size:.8rem;
}

.text-ctn p{
    font-size:.75rem;
}


.stats-tag{
    font-size:.7rem;
}

.stats-ctn h2{
    font-size:1.25rem;
}

.stats-desc{
    font-size:.8rem;
}

.stat{
    padding:.8rem;
}

.stat-icon{
    font-size:1.4rem;
}

.stat h1{
    font-size:1.4rem;
}

.stat h3{
    font-size:.85rem;
}

.stat p{
    font-size:.75rem;
    line-height:1.5;
}

.modal-content {
        width: 98vw;
        padding: 0.5rem;
    }

    .modal-content h1 {
        font-size: 1.2rem;
    }

    .tagline {
        font-size: 0.95rem;
    }

    #closeBtn, #closeBtn2, #closeBtn3, #closeBtn4, #closeBtn5, #closeBtn6 {
        width: 24px;
        height: 24px;
        font-size: 0.65rem;
    }

}



@keyframes fadeBg{

    0%,45%{
        opacity:0;
    }

    50%,95%{
        opacity:1;
    }

    100%{
        opacity:0;
    }

}
@keyframes slideIn {
    0%{
        opacity: 0;
        transform: translateX(50%);
    }
    100%{
        opacity: 1;
         transform: translateX(0);
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
@keyframes slideUp{
    0%{
        opacity: 0;
        transform: translateY(70%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideRight{
    0%{
        opacity:0 ;
        transform: translateX(-50%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}